<?xml version="1.0"?>

<model>
  <name>sun_without_shadows</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Oscar Lima</name>
    <email>oscar.lima@dfki.de</email>
  </author>

  <description>
    A directional light for the sun with shadows disabled.
  </description>
</model>
